h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.5rem;
}
button {
  min-width: 300px;
  font-family: 'Times New Roman';
  background-color: #dcdee9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.8rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}