<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1><a href="./menu">{{title}}</a></h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-flat-button (click)="retrieveDB()">ВЫБРАТЬ БАЗУ ИЗ СПИСКА</button>
  </mat-toolbar-row>
</mat-toolbar>
<b *ngIf="postData">{{postData.message}}</b>
<div *ngIf="DBnames">
<ul>
    <li *ngFor="let name of DBnames">
        <button (click)="setDB(name); DBname = name; DBnames = []">Выбрать базу {{name}}</button>
    </li>
</ul>
<router-outlet></router-outlet>