  <h3>Get configuration from JSON file</h3>
<div>
  <button type="button" (click)="clear(); showCollocations()">get</button>

  <span *ngIf="myData">
    <ul>
      <li *ngFor="let item of myData">
        <p>Для слова <b>{{item.word_1}}</b> в форме <b>{{item.gram_1}}</b></p>
        <p>и слова <b>{{item.word_2}}</b> в форме <b>{{item.gram_2}}</b>,</p>
        <p>расположенных друг от друга на расстоянии <b>{{item.distance}},</b>:</p>
        <p>найдены следующие примеры:</p>
        <ul>
          <li *ngFor="let elt of item.examples">{{elt}}</li>
        </ul>
    </li>
    </ul>
  </span>

</div>




