<h3>СОСТАВЛЕНИЕ КОНКОРДАНСА</h3>

  <div>
    <p>Верхняя граница отрезка: <input [(ngModel)] = "word_1"></p>
    <p>Нижняя граница отрезка: <input [(ngModel)] = "word_2"></p>
    <mat-radio-group [(ngModel)]="POS">Часть речи:<br>
        <mat-radio-button *ngFor="let postag of postags" [value]="postag.russ">
        {{postag.russ}}
      </mat-radio-button>

    </mat-radio-group>
    <div *ngIf="POS == 'существительное'">
    <mat-radio-group>число:<br>
      <mat-radio-button *ngFor="let num of nums" [value]="num.russ">{{num.russ}}</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-radio-group>падеж:<br>
      <mat-radio-button *ngFor="let case of cases" [value]="case.russ">{{case.russ}}</mat-radio-button>
    </mat-radio-group><br>
    <mat-radio-group>дополнительные параметры:<br>
      <mat-radio-button *ngFor="let add of addition" [value]="add.russ">{{add.russ}}</mat-radio-button>
    </mat-radio-group>
  </div>

    <div *ngIf="POS == 'глагол'">
    <mat-radio-group>переходность:<br>
      <mat-radio-button *ngFor="let transition of transitions" [value]="transition.russ">{{transition.russ}}</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-radio-group>время:<br>
      <mat-radio-button *ngFor="let tense of tenses" [value]="tense.russ">{{tense.russ}}</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-radio-group>лицо:<br>
      <mat-radio-button *ngFor="let person of persons" [value]="person.russ">{{person.russ}}</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-radio-group>число:<br>
      <mat-radio-button *ngFor="let num of nums" [value]="num.russ">{{num.russ}}</mat-radio-button>
    </mat-radio-group>
  </div>

    <div *ngIf="POS == 'прилагательное'">
      <mat-radio-group>род:<br>
        <mat-radio-button *ngFor="let gender of genders" [value]="gender.russ">{{gender.russ}}</mat-radio-button>
      </mat-radio-group><br>
      <mat-radio-group>число:<br>
        <mat-radio-button *ngFor="let num of nums" [value]="num.russ">{{num.russ}}</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-radio-group>падеж:<br>
        <mat-radio-button *ngFor="let case of cases" [value]="case.russ">{{case.russ}}</mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngIf="POS == 'наречие'"></div>

    <div *ngIf="POS == 'местоимение-существительное'">
      <mat-radio-group>род:<br>
        <mat-radio-button *ngFor="let gender of genders" [value]="gender.russ">{{gender.russ}}</mat-radio-button>
      </mat-radio-group><br>
      <mat-radio-group>число:<br>
        <mat-radio-button *ngFor="let num of nums" [value]="num.russ">{{num.russ}}</mat-radio-button>
      </mat-radio-group>
      <br>
      <mat-radio-group>падеж:<br>
        <mat-radio-button *ngFor="let case of cases" [value]="case.russ">{{case.russ}}</mat-radio-button>
      </mat-radio-group>
    </div>

    <div *ngIf="POS == 'местоимение-прилагательное'">
      <mat-radio-group>род:<br>
        <mat-radio-button *ngFor="let gender of genders" [value]="gender.russ">{{gender.russ}}</mat-radio-button>
      </mat-radio-group><br>
    <mat-radio-group>число:<br>
      <mat-radio-button *ngFor="let num of nums" [value]="num.russ">{{num.russ}}</mat-radio-button>
    </mat-radio-group>
    <br>
    <mat-radio-group>падеж:<br>
      <mat-radio-button *ngFor="let case of cases" [value]="case.russ">{{case.russ}}</mat-radio-button>
    </mat-radio-group>
  </div>
    <div *ngIf="POS == 'местоименное наречие'">так</div>
    <div *ngIf="POS == 'предлог'">в</div>
        </div>

  <div>
  <button type="button" (click)="clear(); showCollocations()">get</button>

  <span *ngIf="myData">
    <div class="split left">
      
    </div>
    <ul>
      <li *ngFor="let entry of myData">
        <button (click)="reactButton(entry)">{{entry.header}}</button>
        <div *ngIf="this.contents == entry.contents">
          <p>число вхождений: {{this.number}},</p>
          <h5>Примеры:</h5>
          <ul>
            <li *ngFor="let elt of this.contents">{{elt}}</li>
          </ul>
          <br><br>

        </div>



